*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

body{
    padding: 0;
    margin: 0;
    background-color: #d0e7ec;
}

header{
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-bottom: 2px solid #8c7d72;
    width: 100%;
    height: 80px;
    top: 0;
    padding: 8px;
    align-items: center;
    z-index: 3;
}

.boton{
    height: 37.6px;
    width: 170px;
    overflow: hidden;
}

.boton:hover{
    overflow: visible;
}

button{
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 4px;
    background-color: #efedeb;
}

menu{
    cursor:pointer;
    display: block;
}

.menu{
    display: flex;
    align-items: center;
    gap: 10px;
  
}

.menu:focus{
    display: block;
}

.lineas{
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
}

.cabecera{
    display: flex;
}

#img1{
    margin-top: 6px;
    width: 70px;
    height: 70px;
}

.menuItem{
    text-align: center; 
    border: 1px solid #8c7d72;
    background-color: #efedeb;
    border-radius: 2px;
}

.menuItem a{
    color: #705c50;
    font-size: large;
    text-decoration: none;
    margin-top: 5px;
}

.menuItem a:hover{
    transition: font-size 0.3s ease;
    font-size: 20px;
}

nav{
    border: 1px solid #8c7d72;
    border-radius: 5px;
    background-color: #efedeb;
}

nav a{
    float: right;
    padding: 6px;
    color: #705c50;
    font-size: large;
    text-decoration: none;
}

.titulo{
    margin: 6rem auto 2rem auto;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    top: 180px;
    width: 100%;
    background-color: #d5d0d0;
    border: 1px solid #ccbfb6;
    border-radius: 5px;
}

.imagen{
    cursor: pointer;
    max-width: 200px;
    max-height: 250px;
}

.imagen img{
    width: 200px; 
    height: 250px;
}

.hover-content{
    display: none;
    position: absolute;
    top: 180px;
    left: 950px;
    margin-right: 50px;
    text-align: center;
}

.hover-content span{
    text-align: center;
    margin: 0;
    padding: 2px 50px;
    background-color: rgba(255, 255, 255, 0.8);
}

.hover-content p{
    width: 400px;
}

.imagen:hover .hover-content {
    display: block;
}

.seccion-con-fondo {
    margin-top: 50px;
    height: 60vh; 
    background: url('/img/canarionejos.jpg') center/cover no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #5120f3;
}

.seccion-con-fondo::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 400vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.seccion-con-fondo h1, .seccion-con-fondo p{
    z-index: 1;
    font-size: 2vw;
    font-weight: bold;
    padding: 50px;
}

hr{
    border: #8c7d72;
    background-color: #8c7d72;
    height: 1px;
    width: 95%;
    margin-top: 50px;
}

article{
    display: grid;
    grid-template-columns: 150px 350px 800px;
    justify-content: space-between;
    margin: 40px;
    font-size: 1vw;
}

footer{
    background-color: white;
    display: flex;
    border-top: 2px solid #8c7d72;
    width: 100%;
    height: 50px;
    bottom: 0;
    margin-top: 40px;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.divFooter1{
    border: 1px solid #8c7d72;
    border-radius: 5px;
    height: 25px;
    background-color: #efedeb;
}
    
.divFooter1 a{
    padding: 6px;
    color: #705c50;
    font-size: large;
    text-decoration: none;
}

.divFooter2 a{
    color: #38383d;
    text-decoration: none;
}

.divFooter2 a:visited{
    color: #76655a;
    text-decoration: underline;
}

/*****************tablet*********************************************************/
@media only screen and (max-width: 1100px) {
    header .cabecera{
       display: none;
    }

    main{
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 250px 250px 250px;
        justify-content: right;
    }

    article{
        grid-template-columns: auto;
        grid-template-rows: 60px 80px 120px;
        text-align: center;
    }

    .hover-content{
        top: 400px;
        left: 0px;
    }

    .imagen{
        cursor: default;
    }

    .imagen:hover .hover-content {
        display: none;
    }   
   }

/*****************mobile*********************************************************/
@media only screen and (max-width: 600px) {


    main{
        width: fit-content;
        grid-template-columns: 200px 200px;
        grid-template-rows: 250px 250px 250px;
        justify-content: start;
        margin: auto;
    }

    .imagen{
        cursor: default;
    }
}