*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

body{
    padding: 0;
    margin: 100px 0 0 0;
    background-color: #e8d8f3;
}

header{
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-bottom: 2px solid #8c7d72;
    width: 100%;
    height: 80px;
    top: 0;
    padding: 8px;
    align-items: center;
    z-index: 3;
}

.boton{
    height: 37.6px;
    width: 170px;
    overflow: hidden;
}

.boton:hover{
    overflow: visible;
}

button{
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 4px;
    background-color: #efedeb;
}

menu{
    cursor:pointer;
    display: block;
}

.menu{
    display: flex;
    align-items: center;
    gap: 10px;
  
}

.menu:focus{
    display: block;
}

.lineas{
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
}
.cabecera{
    display: flex;
}

#img1{
    margin-top: 6px;
    width: 70px;
    height: 70px;
}

.menuItem{
    text-align: center; 
    border: 1px solid #8c7d72;
    background-color: #efedeb;
    border-radius: 2px;
}

.menuItem a{
    color: #705c50;
    font-size: large;
    text-decoration: none;
    margin-top: 5px;
}

.menuItem a:hover{
    transition: font-size 0.3s ease;
    font-size: 20px;
}

nav{
    border: 1px solid #8c7d72;
    border-radius: 5px;
    background-color: #efedeb;
}

nav a{
    float: right;
    padding: 6px;
    color: #705c50;
    font-size: large;
    text-decoration: none;
}

main{
    width: 80%;
    align-items: center;
    margin: auto;
    text-align: center;
}

section{
    width: 80%;
    display: grid;
    grid-template-columns: 900px auto;
    border-top: 1px solid #8c7d72;
    align-items: center;
    margin: auto;
}

section div img{
    max-width: 300px;
    max-height: 300px;
    margin: 2rem 2rem 2rem 0;
}

main img, section img{
    border: 1px solid #8c7d72;
    border-radius: 15px;
}

footer{
    background-color: white;
    display: flex;
    border-top: 2px solid #8c7d72;
    width: 100%;
    height: 50px;
    bottom: 0;
    margin-top: 40px;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.divFooter1{
    border: 1px solid #8c7d72;
    border-radius: 5px;
    height: 25px;
    background-color: #efedeb;
}
    
.divFooter1 a{
    padding: 6px;
    color: #705c50;
    font-size: large;
    text-decoration: none;
}

.divFooter2 a{
    color: #38383d;
    text-decoration: none;
}

.divFooter2 a:visited{
    color: #76655a;
    text-decoration: underline;
}

/*****************tablet*********************************************************/
@media only screen and (max-width: 1100px) {
    header .cabecera{
        display: none;
    }

    main{
        display: flex;
        flex-direction: column;
    }
    
    section{
        display: flex;
        flex-direction: column;
    }
   }
