*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: #98c1a4;
}

header{
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-bottom: 2px solid #8c7d72;
    width: 100%;
    height: 80px;
    top: 0;
    padding: 8px;
    align-items: center;
    z-index: 3;
}

.boton{
    height: 37.6px;
    overflow: hidden;
}

.boton:hover{
    overflow: visible;
}

button{
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 4px;
    background-color: #efedeb;
}

.menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu:focus{
    display: block;
}

.lineas{
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
}

.cabecera{
    display: flex;
}

#img1{
    margin-top: 6px;
    width: 70px;
    height: 70px;
}

.menuItem{
    text-align: center; 
    border: 1px solid #8c7d72;
    background-color: #efedeb;
    border-radius: 2px;
}

.menuItem a{
    color: #705c50;
    font-size: large;
    text-decoration: none;
    margin-top: 5px;
}

nav{
    border: 1px solid #8c7d72;
    border-radius: 5px;
    background-color: #efedeb;
}

nav a{
    float: right;
    padding: 6px;
    color: #705c50;
    font-size: large;
    text-decoration: none;
}

#divPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    align-items: center;
    margin-top: 12vh;
}

.divFormulario1{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.divFormulario1 label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1{
    width: 30vw;
    text-align: center;
}

form h1{
    display: inline-block; 
}

.h1form{
    color: #4a6d6b;
}

.divFoto{
    width: 20vw;
}

.divFoto img{
    max-width: 15vw;
    border: 2px solid #746454;
    border-radius: 15px;
}

.divFormulario2{
    border-left: 1px solid #887c74;
    width: 45vw;
    padding-left: 4rem;
}

.divFormulario2 h1, .divFormulario2 h2{
    text-align: center;
}

.divFormulario2 label{
   display: flex;
   flex-direction: column;
}

label input, label select{
    width: 25vw;
}

input[type="radio"]{
    cursor: pointer;
    width: 1vw;
    height: 18px;
    border: 2px solid #333;
}

input[type="checkbox"]{
    cursor: pointer;
    width: 1vw;
    height: 18px;
    border: 2px solid #333;
}

input[type="file"]{
    cursor: pointer;
   
}

input{
    padding: 0.5vh;
    margin: 0.2rem;
}

#email{
    color: #746454;
    text-decoration: none;
}

#email :visited{
    color: #887c74;
    text-decoration: underline;
}

.submit{
    background-color: #4a6d6b;
    color: white;
    border-radius: 10px;
    width: 10vw;
    height: 4.5vh;
}

.a{
    color: #705c50;
    font-size: large;
    text-decoration: none;
}

footer{
    background-color: white;
    display: flex;
    border-top: 2px solid #8c7d72;
    width: 100%;
    height: 50px;
    bottom: 0;
    margin-top: 40px;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.divFooter1{
    border: 1px solid #8c7d72;
    border-radius: 5px;
    height: 25px;
    background-color: #efedeb;
}
    
.divFooter1 a{
    padding: 6px;
    color: #705c50;
    font-size: large;
    text-decoration: none;
}

/*****************tablet*********************************************************/
@media only screen and (max-width: 1300px) {
   
   }
@media only screen and (max-width: 1000px) {
    header .cabecera{
       display: none;
    }
   }
/*****************mobile*********************************************************/
@media only screen and (max-width: 600px) {
      .divPrincipal{
        display: flex;
        flex-direction: row;
      }
    
    .divFormulario1{
       display: grid;
       width: 100vw; 
    }

    .form1{
        width: 100vw;
    }

    .divFormulario2{
        border: none;
        width: 100vw;
    }

    .divFoto{
       position: fixed;
       top: 5rem;
       right:-1.5rem;
    }
    
 }

 
